#ContenedorLogin{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
#Slider{
    display: block;
    width: 187px;
    height: 100%;
    flex-grow: 2;
}
#Slider , .carousel ,  .img-slider {
    height: 100vh;
}
.FormLogin{
    width: 187px;
    max-width: 500px;
    padding: 30px;
    flex-grow: 1;
}
#buttonIniciarSesion{
    height:60px;
    width:100%;
    margin-Top:10px;
}
#mensaje{
    margin-top:20px
}
#user , #pass {
    padding-top: 15px;
    padding-bottom: 15px;
}
.img-slider{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
}
@media screen and (max-width:630px){
    #ContenedorLogin{
        flex-direction: row-reverse;
        max-width: 100%;
    }
    #Slider , .carousel ,  .img-slider {
        height: 250px;
    }
    .FormLogin{
        width: 100%;
        min-width: 375px;
        max-width: 100%;
        padding: 10px;
    }

}