.contenedor *{
box-sizing: border-box;
}
.container-main{
    padding: 20px;
}
.container-header{
    padding-bottom: 20px;
}
.container-header__container-fecha{
    padding-bottom: 20px;
}
.container-operarios{
    border: solid 1px #303F9F;
    padding: 15px;
    border-radius: 7px;
    margin: 10px;
}
.container-operarios__operario{
    border: solid 1px #303F9F;
    padding: 15px;
    border-radius: 7px;
    margin: 10px;
}
.container-operarios__operario__btn-delete{
    text-align: right;
}
.container-operarios__operario__elements{

}
.container-operarios__operario__elements__btn-addRechazo{
    text-align: center;
    margin: 20px;
    transition: transform 0.5s;
}
.container-operarios__operario__elements__btn-addRechazo:hover{
    transform: scale(2);
}
.container-operarios__operario__rechazos{
    border: solid 1px #303F9F;
    padding: 15px;
    border-radius: 7px;
    margin: 10px;
}
.MuiFormControl-root.MuiTextField-root [name~="idRe"]{
    width: 50px !important;
}
.container-operarios__operario__rechazos__btn-deleteRechazo{
    text-align: right;
}

.container-tablaPM{
    height: 100%;
}
#h6Alert{
    display: inline-block;
}
td , th , thead {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.makeStyles-button-310{
    width: 100%;
    padding: 20px !important;
}
@media screen and (max-width:414px){
    .MuiFormControl-root{
        width: 100% !important;
        margin-bottom: 20px;
    }
    input{
        width: 100% !important;
    }
    .MuiFormControl-root.makeStyles-formControl-153{
margin: 0px;
    }
    .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl{
        width: 100% !important;
    }
}
